DATABASE_URL=postgresql://user:password@host.neon.tech/dbname?sslmode=require
PORT=3001
BETTER_AUTH_SECRET=your-secret-key-here-generate-with-openssl-rand-base64-32
BETTER_AUTH_URL=http://localhost:3001

REDIS_URL=redis://localhost:6379

IFOOD_API_BASE_URL=https://merchant-api.ifood.com.br
IFOOD_CLIENT_ID=your-ifood-client-id
IFOOD_CLIENT_SECRET=your-ifood-client-secret
